<nav class="navbar navbar-light bg-red">
    <span class="navbar-brand mb-0 h1 text-white">Angular CLI Explorer</span>
</nav>

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Angular CLI <span class="a-red">Command</span> Explorer</h1>
            <p>Find the right commands you need without digging through the web.</p>
            <hr class="mb-4">
        </div>
        <div class="col-md-3">
            <ng-select class="custom" placeholder="I want to" [(ngModel)]="topic" (change)="onChangeTopic($event)" [items]="topics" bindLabel="value" bindValue="id" [selectOnTab]="true"></ng-select>
        </div>
        <div class="col-md-3">
            <ng-select class="custom" [(ngModel)]="action" (change)="onChangeAction($event)" [items]="actions" [readonly]="actions.length < 2" bindLabel="value" bindValue="id" [selectOnTab]="true" [hidden]="!topic"></ng-select>
        </div>
        <div class="col-12 mt-4" *ngIf="usageCommand">
            <h4>Usage</h4>
            <markdown [data]="usageCommand"></markdown>
        </div>
        <div class="col-12" *ngIf="actionNote">
            <h4>Note</h4>
            <markdown [data]="actionNote"></markdown>
        </div>
    </div>
</div>